dashboard/flows.json
[
    {
        "id": "9db84ca1015d7bab",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6256f4a25337b157",
        "type": "ui_tab",
        "name": "zAdmin",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "709ab2a30c634fe5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "36ad245784f1961b",
        "type": "ui_group",
        "name": "Game Controls",
        "tab": "6256f4a25337b157",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "685eadabb01a94b9",
        "type": "mqtt-broker",
        "name": "Game Broker",
        "broker": "brie.lan",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "dashboard/status",
        "birthQos": "0",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "dashboard/status",
        "closeQos": "0",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "dashboard/status",
        "willQos": "0",
        "willPayload": "error",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "059902b354df1ec8",
        "type": "ui_tab",
        "name": "Game",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdc89fd4f383ac89",
        "type": "ui_group",
        "name": "LeftGroup",
        "tab": "059902b354df1ec8",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56bc879c7f75f940",
        "type": "ui_group",
        "name": "RightGroup",
        "tab": "059902b354df1ec8",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e828ba85ee5dccef",
        "type": "ui_group",
        "name": "Admin Simulated Button",
        "tab": "6256f4a25337b157",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77b9dc5dac0a372c",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "36ad245784f1961b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "newgame",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "8d32541678a5a6bc",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "a9d9d702e0da0c57",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "Game Control",
        "topic": "game/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce081f9b9e3abd5b",
        "type": "mqtt in",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "holes/#",
        "qos": "0",
        "datatype": "json",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "978e90647e2a1491"
            ]
        ]
    },
    {
        "id": "1790140271435f1b",
        "type": "switch",
        "z": "9db84ca1015d7bab",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "holes/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "8d32541678a5a6bc"
            ],
            [
                "ea079a2ccb47cf9d"
            ],
            [
                "52b4b3ba0ffc296d"
            ],
            [
                "405d96b80ea27738"
            ],
            [
                "1b4d53e6b574ebc1"
            ],
            [
                "c13026bdebf2d5c2"
            ]
        ]
    },
    {
        "id": "ea079a2ccb47cf9d",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "52b4b3ba0ffc296d",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "405d96b80ea27738",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "1b4d53e6b574ebc1",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "c13026bdebf2d5c2",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 940,
        "wires": []
    },
    {
        "id": "978e90647e2a1491",
        "type": "function",
        "z": "9db84ca1015d7bab",
        "name": "",
        "func": "var colour = msg.payload.colour;\nvar status = msg.payload.status;\nif(status == true) {\n    msg.payload = colour;\n} else {\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "1790140271435f1b"
            ]
        ]
    },
    {
        "id": "50cf9c2dedd24218",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "36ad245784f1961b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reconfigure from config.yaml",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reconfig",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "05217db79ce3a486",
        "type": "mqtt in",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "game/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "9ba9bd6728825444"
            ]
        ]
    },
    {
        "id": "9ba9bd6728825444",
        "type": "json",
        "z": "9db84ca1015d7bab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "7061c7b798214299",
                "9be4dc386d88c5de",
                "69b5889f02216551"
            ]
        ]
    },
    {
        "id": "7061c7b798214299",
        "type": "ui_text",
        "z": "9db84ca1015d7bab",
        "group": "cdc89fd4f383ac89",
        "order": 9,
        "width": "2",
        "height": "2",
        "name": "",
        "label": "Time left",
        "format": "{{msg.payload.seconds_remaining}}",
        "layout": "col-center",
        "className": "",
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8484f1e8389364f",
        "type": "ui_form",
        "z": "9db84ca1015d7bab",
        "name": "",
        "label": "",
        "group": "cdc89fd4f383ac89",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "user",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "user": ""
        },
        "payload": "",
        "submit": "New Game",
        "cancel": "",
        "topic": "ui",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "0a6a8ffbb396347e",
                "2108ffd37713f47f"
            ]
        ]
    },
    {
        "id": "a70caa7e944d216d",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "ui",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "12b091e5e17dad8c",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "a70caa7e944d216d"
            ]
        ]
    },
    {
        "id": "0a6a8ffbb396347e",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "newgame",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "70fedcf1723066d6",
        "type": "ui_gauge",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "56bc879c7f75f940",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1430,
        "y": 140,
        "wires": []
    },
    {
        "id": "9be4dc386d88c5de",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.score",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "70fedcf1723066d6"
            ]
        ]
    },
    {
        "id": "a7057be577c202c5",
        "type": "ui_text",
        "z": "9db84ca1015d7bab",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "2108ffd37713f47f",
        "type": "function",
        "z": "9db84ca1015d7bab",
        "name": "",
        "func": "if(msg.payload.user == \"\") {\n    msg.payload.user = 'User' + Date.now().toString();\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "12b091e5e17dad8c"
            ]
        ]
    },
    {
        "id": "69b5889f02216551",
        "type": "ui_level",
        "z": "9db84ca1015d7bab",
        "group": "cdc89fd4f383ac89",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time Remaining",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "60",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "rocket",
        "shape": 2,
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.seconds_remaining",
        "peaktime": 3000,
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "b4f0a387253a337e",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 560,
        "wires": [
            [
                "b15d424f01de2072"
            ]
        ]
    },
    {
        "id": "b15d424f01de2072",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f8baee8d09d1d7f",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "4e6bc28b680deaf0",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 680,
        "wires": []
    },
    {
        "id": "d20bd5fd3d02cc4e",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "31ba3553d6e6259e",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "fc1de569c17266b1",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "31cd2c75e05c58af",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "4f8baee8d09d1d7f"
            ]
        ]
    },
    {
        "id": "e741c3dc19099e7b",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "4e6bc28b680deaf0"
            ]
        ]
    },
    {
        "id": "699cb42b04915661",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 740,
        "wires": [
            [
                "d20bd5fd3d02cc4e"
            ]
        ]
    },
    {
        "id": "d24570a2d4690809",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 800,
        "wires": [
            [
                "31ba3553d6e6259e"
            ]
        ]
    },
    {
        "id": "4406cec5ec3e9294",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 860,
        "wires": [
            [
                "fc1de569c17266b1"
            ]
        ]
    }
]