dashboard/flows.json
[
    {
        "id": "9db84ca1015d7bab",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6550881c60c9e30a",
        "type": "tab",
        "label": "Leaderboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8aab6d76efc2a133",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6256f4a25337b157",
        "type": "ui_tab",
        "name": "Admin",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "709ab2a30c634fe5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "36ad245784f1961b",
        "type": "ui_group",
        "name": "Game Controls",
        "tab": "6256f4a25337b157",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "685eadabb01a94b9",
        "type": "mqtt-broker",
        "name": "Game Broker",
        "broker": "brie.lan",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "dashboard/status",
        "birthQos": "0",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "dashboard/status",
        "closeQos": "0",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "dashboard/status",
        "willQos": "0",
        "willPayload": "error",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "059902b354df1ec8",
        "type": "ui_tab",
        "name": "Game",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdc89fd4f383ac89",
        "type": "ui_group",
        "name": "Controls",
        "tab": "059902b354df1ec8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56bc879c7f75f940",
        "type": "ui_group",
        "name": "Current Game",
        "tab": "059902b354df1ec8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e828ba85ee5dccef",
        "type": "ui_group",
        "name": "Admin Simulated Button",
        "tab": "6256f4a25337b157",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12d40ef0cd2ddb59",
        "type": "ui_group",
        "name": "Leaderboard",
        "tab": "059902b354df1ec8",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "337a50661841ad6f",
        "type": "ui_group",
        "name": "Leaderboard Admin",
        "tab": "6256f4a25337b157",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77b9dc5dac0a372c",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "36ad245784f1961b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "newgame",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "8d32541678a5a6bc",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "a9d9d702e0da0c57",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "Game Control",
        "topic": "game/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce081f9b9e3abd5b",
        "type": "mqtt in",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "holes/#",
        "qos": "0",
        "datatype": "json",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "978e90647e2a1491"
            ]
        ]
    },
    {
        "id": "1790140271435f1b",
        "type": "switch",
        "z": "9db84ca1015d7bab",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "holes/0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "holes/5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "8d32541678a5a6bc"
            ],
            [
                "ea079a2ccb47cf9d"
            ],
            [
                "52b4b3ba0ffc296d"
            ],
            [
                "405d96b80ea27738"
            ],
            [
                "1b4d53e6b574ebc1"
            ],
            [
                "c13026bdebf2d5c2"
            ]
        ]
    },
    {
        "id": "ea079a2ccb47cf9d",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "52b4b3ba0ffc296d",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 700,
        "wires": []
    },
    {
        "id": "405d96b80ea27738",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 780,
        "wires": []
    },
    {
        "id": "1b4d53e6b574ebc1",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 4",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "c13026bdebf2d5c2",
        "type": "ui_led",
        "z": "9db84ca1015d7bab",
        "order": 1,
        "group": "36ad245784f1961b",
        "width": 0,
        "height": 0,
        "label": "Hole 5",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "off",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 940,
        "wires": []
    },
    {
        "id": "978e90647e2a1491",
        "type": "function",
        "z": "9db84ca1015d7bab",
        "name": "",
        "func": "var colour = msg.payload.colour;\nvar status = msg.payload.status;\nif(status == true) {\n    msg.payload = colour;\n} else {\n    msg.payload = \"off\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "1790140271435f1b"
            ]
        ]
    },
    {
        "id": "50cf9c2dedd24218",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "36ad245784f1961b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reconfigure from config.yaml",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reconfig",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "05217db79ce3a486",
        "type": "mqtt in",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "game/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "9ba9bd6728825444"
            ]
        ]
    },
    {
        "id": "9ba9bd6728825444",
        "type": "json",
        "z": "9db84ca1015d7bab",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "7061c7b798214299",
                "9be4dc386d88c5de",
                "69b5889f02216551"
            ]
        ]
    },
    {
        "id": "7061c7b798214299",
        "type": "ui_text",
        "z": "9db84ca1015d7bab",
        "group": "cdc89fd4f383ac89",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.seconds_remaining}}",
        "layout": "row-center",
        "className": "",
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8484f1e8389364f",
        "type": "ui_form",
        "z": "9db84ca1015d7bab",
        "name": "",
        "label": "",
        "group": "cdc89fd4f383ac89",
        "order": 3,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Name",
                "value": "user",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "user": ""
        },
        "payload": "",
        "submit": "New Game",
        "cancel": "",
        "topic": "ui",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 300,
        "wires": [
            [
                "0a6a8ffbb396347e",
                "2108ffd37713f47f"
            ]
        ]
    },
    {
        "id": "a70caa7e944d216d",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "ui",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "12b091e5e17dad8c",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.user",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "a70caa7e944d216d"
            ]
        ]
    },
    {
        "id": "0a6a8ffbb396347e",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "newgame",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "70fedcf1723066d6",
        "type": "ui_gauge",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "56bc879c7f75f940",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Score",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1430,
        "y": 140,
        "wires": []
    },
    {
        "id": "9be4dc386d88c5de",
        "type": "change",
        "z": "9db84ca1015d7bab",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.score",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "70fedcf1723066d6"
            ]
        ]
    },
    {
        "id": "2108ffd37713f47f",
        "type": "function",
        "z": "9db84ca1015d7bab",
        "name": "",
        "func": "if(msg.payload.user == \"\") {\n    msg.payload.user = 'User' + Date.now().toString();\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "12b091e5e17dad8c"
            ]
        ]
    },
    {
        "id": "69b5889f02216551",
        "type": "ui_level",
        "z": "9db84ca1015d7bab",
        "group": "cdc89fd4f383ac89",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Time Remaining",
        "colorHi": "#00e626",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0000",
        "colorOff": "#595959",
        "min": 0,
        "max": "120",
        "segWarn": "10",
        "segHigh": "30",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "rocket",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": true,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.seconds_remaining",
        "peaktime": 3000,
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "b4f0a387253a337e",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 560,
        "wires": [
            [
                "b15d424f01de2072"
            ]
        ]
    },
    {
        "id": "b15d424f01de2072",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f8baee8d09d1d7f",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "4e6bc28b680deaf0",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 680,
        "wires": []
    },
    {
        "id": "d20bd5fd3d02cc4e",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "31ba3553d6e6259e",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "fc1de569c17266b1",
        "type": "mqtt out",
        "z": "9db84ca1015d7bab",
        "name": "",
        "topic": "switch/6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "685eadabb01a94b9",
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "31cd2c75e05c58af",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "4f8baee8d09d1d7f"
            ]
        ]
    },
    {
        "id": "e741c3dc19099e7b",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "4e6bc28b680deaf0"
            ]
        ]
    },
    {
        "id": "699cb42b04915661",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 740,
        "wires": [
            [
                "d20bd5fd3d02cc4e"
            ]
        ]
    },
    {
        "id": "d24570a2d4690809",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 800,
        "wires": [
            [
                "31ba3553d6e6259e"
            ]
        ]
    },
    {
        "id": "4406cec5ec3e9294",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "e828ba85ee5dccef",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"colour\":\"blue\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 860,
        "wires": [
            [
                "fc1de569c17266b1"
            ]
        ]
    },
    {
        "id": "28d5b0a46f7d7b4e",
        "type": "ui_button",
        "z": "9db84ca1015d7bab",
        "name": "",
        "group": "56bc879c7f75f940",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "Abort",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "exit",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a9d9d702e0da0c57"
            ]
        ]
    },
    {
        "id": "15ac8a112c20314e",
        "type": "ui_text",
        "z": "9db84ca1015d7bab",
        "group": "cdc89fd4f383ac89",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "Use your twitter handle & follow @MakeGosport for a points bonus!",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "f65ccf14930ab76b",
        "type": "mqtt in",
        "z": "6550881c60c9e30a",
        "name": "",
        "topic": "game/leaderboard",
        "qos": "2",
        "datatype": "json",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "b1641ffc10992dff"
            ]
        ]
    },
    {
        "id": "b1641ffc10992dff",
        "type": "file",
        "z": "6550881c60c9e30a",
        "name": "LeaderboardFile",
        "filename": "leaderboard.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 440,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "672f19827444d985",
        "type": "ui_table",
        "z": "6550881c60c9e30a",
        "group": "12d40ef0cd2ddb59",
        "name": "Leaderboard",
        "order": 1,
        "width": 9,
        "height": 6,
        "columns": [
            {
                "field": "user",
                "title": "Player",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "score",
                "title": "Score",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "twitter_follower",
                "title": "@MakeGosport follower",
                "width": "",
                "align": "center",
                "formatter": "tickCross",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "9864ce7e2a17fbc1",
        "type": "watch",
        "z": "6550881c60c9e30a",
        "name": "",
        "files": "leaderboard.json",
        "recursive": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "38ac0c673007d397"
            ]
        ]
    },
    {
        "id": "38ac0c673007d397",
        "type": "file in",
        "z": "6550881c60c9e30a",
        "name": "",
        "filename": "leaderboard.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "c0776f0728548f04"
            ]
        ]
    },
    {
        "id": "b7fca4b6dcaded02",
        "type": "file",
        "z": "6550881c60c9e30a",
        "name": "Delete Leaderboard",
        "filename": "leaderboard.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 460,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b421d939adb4228a",
        "type": "ui_button",
        "z": "6550881c60c9e30a",
        "name": "",
        "group": "36ad245784f1961b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Leaderboard",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "b7fca4b6dcaded02"
            ]
        ]
    },
    {
        "id": "c0776f0728548f04",
        "type": "function",
        "z": "6550881c60c9e30a",
        "name": "",
        "func": "function splitLines(t) { return t.split(/\\r\\n|\\r|\\n/); }\nvar array = splitLines(msg.payload);\narray.pop();\nmsg.payload = [];\nfor (const line of array) {\n    msg.payload.push(JSON.parse(line));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "672f19827444d985"
            ]
        ]
    },
    {
        "id": "7d2c7fead48a30a5",
        "type": "mqtt in",
        "z": "8aab6d76efc2a133",
        "name": "",
        "topic": "holes/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "685eadabb01a94b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "7db195fce51fe20a"
            ]
        ]
    },
    {
        "id": "c5b17a2cac4a7540",
        "type": "function",
        "z": "8aab6d76efc2a133",
        "name": "",
        "func": "\nmsg.payload = {\n    \"on\": true,\n    \"bri\": 255,\n    \"seg\": {\n        \"id\" : msg.payload.id,\n        \"on\" : msg.payload.on,\n        \"fx\" : 41,\n        \"sx\" : 200,\n        \"ix\" : 100,\n        \"col\" : [\n            [msg.colour.rgb.red, msg.colour.rgb.green, msg.colour.rgb.blue],\n            [0, 0, 0],\n            [0, 0, 0]\n            ]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "4fdf0f4d3406fee8"
            ]
        ]
    },
    {
        "id": "7db195fce51fe20a",
        "type": "json",
        "z": "8aab6d76efc2a133",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "76ee4364da624a5d"
            ]
        ]
    },
    {
        "id": "4e24e698ee494e8a",
        "type": "debug",
        "z": "8aab6d76efc2a133",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "4fdf0f4d3406fee8",
        "type": "http request",
        "z": "8aab6d76efc2a133",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://hole-lights.local/json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1030,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "76ee4364da624a5d",
        "type": "change",
        "z": "8aab6d76efc2a133",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.status",
                "pt": "msg",
                "to": "payload.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "44cc6dc880d44f17"
            ]
        ]
    },
    {
        "id": "b56f2c4af7921fe8",
        "type": "node-red-contrib-colorspace",
        "z": "8aab6d76efc2a133",
        "name": "",
        "target": "colour",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "c5b17a2cac4a7540",
                "4e24e698ee494e8a"
            ]
        ]
    },
    {
        "id": "44cc6dc880d44f17",
        "type": "change",
        "z": "8aab6d76efc2a133",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "colour.keyword",
                "pt": "msg",
                "to": "payload.colour",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "b56f2c4af7921fe8"
            ]
        ]
    }
]